html{
	scroll-behavior: smooth;
}
.navigationBar{
	background-color: transparent;
	color:white;
	font-size:18px;
}
.scrollNavEffect{
	background-color: #4682b4;
	transition: .30s linear;
}

.activeNav,.nav-item:hover{
	border-bottom: 1px solid white;
}

.fa-facebook{
	color:blue;
}
.fa-envelope{
	color:gray;
}
.fa-phone{
	color:green;
}
.fa-facebook,.fa-envelope,.fa-phone{
	padding: 10px;
	cursor: pointer;
}
body{
	
}
.nav-link{
	cursor: pointer;
}

.bgImg{
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	width: 100%;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
.tSearch{
	box-sizing: border-box;
	color: white;
	padding: 200px 10px 0px 10px;
}
.textBox{
	border-radius: 10px;
	background-color:white;
}
.btnSearch{
	background-color: #4682b4;
	color:white;
}
.searchBox{
	border: 1px solid #4682b4;
}
.textW{
	color: #4682b4;
	padding-bottom: 10px;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
@media screen and (max-width:768px ){
	.navigationBar{
		background-color: #4682b4;
	}
}
.aboutMyanTxt{
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}
.galleryContent{
	font-size: 13px;
}
.GalleryCard{
	padding: 0;
	cursor:pointer;
}
.GalleryCard:hover{
	box-shadow:5px 5px 5px 5px #ddd;
	transition: .20s linear;
}
.aboutMyanTxt div h2{
	color:white;
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
.welcomeMyanTxt{
	font-size: 18px;
	text-align: justify;
}
.aboutMyanTxt div{
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	padding:20px;
}
.aboutMyanTxt{
	padding: 100px 0px 0 20px;
}
.standardBgColor{
	background-color: #4682b4;
}
.standardTextColor{
	color: #4682b4;
}